
h2 {
    text-align: center;
}

#button {
    width: 100px;
    height: 30px;
    font-size: 10px;
    background-color: #d0d0d0;
}


.center {
    margin-left: auto;
    margin-right: auto;
    width: 205px;
}
